body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; 
    display: flex;
    justify-content: center;
    align-items: flex-start; 
   
    margin: 0;
    padding: 20px;
}

.skillsTestContainer {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    min-height: 100vh; 
}

.skillsTestHeading {
    color: #5b4df2;
}

.skillsTestQuestion {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

.skillsTestOptions {
    list-style-type: none;
    padding: 0;
}

.skillsTestOptions li {
    margin: 10px 0;
}

.skillsTestOptions input[type="radio"] {
    display: none;
}

.skillsTestOptions label {
    display: block;
    padding: 10px;
    background: #5b4df2;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

.skillsTestOptions input[type="radio"]:checked + label {
    background: #3e34a6;
    transform: scale(1.05);
}

.skillsTestOptions label:hover {
    background: #3e34a6;
}

.skillsTestAnsweredQuestions {
    color: #a5d6a7;
    margin-top: 10px;
}

.skillsTestSubmitBtnWrapper {
    margin-top: 20px;
}

.skillsTestSubmitBtn {
    background: #27ae60;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

.skillsTestSubmitBtn:hover {
    background: #219653;
    transform: scale(1.05);
}

.skillsTestError {
    color: red;
    margin-top: 10px;
}

.skillsTestSubmitBtn:disabled {
    background: #ccc;
    cursor: not-allowed;
}
