body {
  font-family: Arial, sans-serif;
  background-color: #ffffff; 
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
}

.proficiencyContainer {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
  margin-top: 10%;
  padding: 20px;
  text-align: center;
  position: relative;
}

.proficiencyHeading {
  color: #3e34a6;
}

.proficiencySliderLabel {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.proficiencySlider {
  width: 100%;
  margin: 10px 0;
}

.proficiencyValues {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.proficiencySubmitBtnWrapper {
  position: relative;
  margin-top: 20px;
}

.proficiencySubmitBtn {
  background: #3307aa;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
}

.proficiencySubmitBtn:hover {
  background: #219653;
  transform: scale(1.05);
}

.proficiencyErrorMessage {
  color: red;
  margin-top: 10px;
}

.proficiencySubmitBtn:disabled {
  background: #ccc;
  cursor: not-allowed;
}

/* .proficiencyBlur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: block;
} */

