@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
.Get-top-5{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 2.125rem;
    line-height:2.125rem;
    font-style: normal;
    color: #1B2559;
    letter-spacing: 1%;
    margin-bottom: 1rem;
}
#profiles-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  
    
}
.answer-text{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 1.5rem;
    line-height:1.5rem;
    font-style: normal;
   
    letter-spacing: 1%;
    margin-bottom: 1rem; 
}
.Result{
    width: 100%;
}
.result-page{
    display: flex;
   
margin: 1rem;
gap:1rem;


}
.candidate-one{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: .9rem;
    box-shadow: 2px 3px 3px 2px #c3c9e6;
}
.body-container{
    display: flex;
    gap: 2rem;
}
.result-page-left{
    width: 11%;


   
}
.result-page-right{
    display: flex;
    width: 88%;

    flex-direction: column;

    
}
.search-bar{
    height: 30px;
    width: 80%;
        padding: .375rem .375rem .375rem 1.25rem;
        background-color: #FFFFFF;
        box-shadow: 0px 8px 24px -4px #00000014;
    outline: none;
    border: none;
    border-radius: 1.875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    
    
    }
    
    .input-fields{
        width: 90%;
    outline: none;
    
        border: none;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #1B2559;
        font-size: 1rem;
        line-height: 1.4rem;
    }
    .image-send{
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 1.5rem;
        background-color: #5661F6;
        box-shadow: 0px 4px 8px 0px #5661F640;
    color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
.serial-number {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.25rem;
    font-style: normal;
    color: #1B2559;
    letter-spacing: 1%;
    margin-bottom: 1rem;
}
.candidate-one{
   display: flex;
   
}
.pi-left{
    width: 53%;
    height: 37vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;


}
.current{
    display: flex;
    gap: 2rem;
    justify-content: center;
}
.key{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: .875rem;
    line-height: 1rem;
    font-style: normal;
    color: #1B2559;
    letter-spacing: 1%;
    padding-top: 0.2rem;

    width: 4rem;
}
.value{
    display: flex;
    flex-direction: column;


}
.line-one{
    display: flex;
    justify-content: space-between;
}
.line-two{
    display: flex;
}
.line-two{
    display: flex;
}
.nested-line-one{
    display: flex;
    justify-content:center;
    align-items: center;

}
.current-date{
    
    padding: 0rem .3rem 0rem 0rem;
    border-right: 1px solid black;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: .875rem;
    line-height: 1rem;
    font-style: normal;
    color: #1B2559;
    letter-spacing: 1%;
}

.current-location {
    padding-left: .3rem;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: .875rem;
    line-height: 1rem;
    font-style: normal;
    color: #1B2559;
    letter-spacing: 1%;
}

.line-2{
    display: flex;
}
.current-position{
    padding-right: .3rem;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4rem;
    font-style: normal;
    color: #1B2559;
    letter-spacing: 1%;
}
.Current-Company {
    padding-left: .3rem;
    border-left: 1px solid black;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4rem;
    font-style: normal;
    color: #1B2559;
    letter-spacing: 1%;
}

.position-description{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.137rem;
    font-style: normal;
    color: #1B2559;
    letter-spacing: 1%;
}
/* ------Education */

.Education{
    display: flex;
    gap: 1rem;

}
.education-date{
    padding: 0rem .3rem 0rem 0rem;
    border-right: 1px solid black;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: .875rem;
    line-height: 1rem;
    font-style: normal;
    color: #1B2559;
    letter-spacing: 1%;
}
.education-location{
    padding-left: .3rem;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: .875rem;
    line-height: 1rem;
    font-style: normal;
    color: #1B2559;
    letter-spacing: 1%;
}
.stream{
    padding-right: .3rem;
    border-right: 1px solid black;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4rem;
    font-style: normal;
    color: #1B2559;
    letter-spacing: 1%;
}

.collage-name{
    padding-left: .3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #1B2559;
    font-size: 1rem;
    line-height:1.4rem;
}

.education-description{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.137rem;
    font-style: normal;
    color: #1B2559;
    letter-spacing: 1%;
}

/* ///////preferred location */
.preferred-location{
    display: flex;
    gap: 1rem;
}

.location{
    display: flex;

}
.value-location{
    display: flex;

}
.city-name{
    margin-left: 4px;
    margin-right: 8px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
    font-style: normal;
    color: #1B2559;
    letter-spacing: 1%;
}
.location img{
    height: 24px;
    width: 11.67px;
    height: 15px;
}

/* ------key skills */

.lists{
    display: flex;
    gap: 1.4rem;
    list-style-type: none;
    
}
.lists li{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
    font-style: normal;
    color: #1B2559;
    letter-spacing: 1%;
}
.key-skills{
    display: flex;
    gap:1rem;
}

/* -------right---- */
.pi-right{
    width: 43%;

    display: flex;
   flex-direction: column;
    justify-content: space-around;
    padding: 0px;
}

.profile-image{
    height: 3rem;
    width: 3rem;
    color: white;
    border-radius: 6.25rem;
}

.profile-pic-section{
    
    display: flex;
    align-items: center;
  gap:1rem;
      
}
header{
    display: flex;
    align-items: center;
justify-content: space-between;
padding: .5rem;


}
.recommended{
    margin-right: 18rem;
}
.key-info{
    display: flex;
    align-items: center;
    width: 11rem;
    gap:.5rem;
    padding-left: .2rem;
 
}
.key-image{
    width: 32px;
    height: 32px;

 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 16px;
 border: 1px solid #79819A1A;
 background: #FFFFFF;
 box-shadow: 4px 8px 12px 8px #7090B014;


}
.info-1{
    display: flex;
 
    align-items: center;
    gap:1.8rem;
}
.info-2{
    display: flex;
 
    align-items: center;
    gap:1.8rem;
}
.info-3{
    display: flex;
 
    align-items: center;
    gap:1.8rem;
}
.info-4{
    display: flex;
 
    align-items: center;
    gap:1.8rem;
}
.info-5{
    display: flex;
 
    align-items: center;
    gap:1.8rem;
}
.info-6{
    display: flex;
 
    align-items: center;
    gap:1.8rem;
}
.info-7{
    display: flex;
 
    align-items: center;
    gap:1.8rem;
}

.candidate-name{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    padding-left: 0.3rem;
    font-weight: 600;
    font-size:  1.375rem;
    line-height: 1.732rem;
    font-style: normal;
    color: #1B2559;
    letter-spacing: 1%;
}

.position{
    padding-left: .3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1B2559;
    font-size: 1rem;
    line-height:1.4rem;
}

.recommended{
    padding-left: .3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #1B2559;
    font-size: 1rem;
    line-height:1.4rem;
}

.contacts-information{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: .5rem;
    gap:.6rem;
}

.key-text{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size:  .875rem;
    line-height: 1rem;
    font-style: normal;
    color: #79819A;

    letter-spacing: 1%;
}
.info-value{
    padding-left: .3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1B2559;
    font-size: 1rem;
    line-height:1.4rem;
   width: 22rem;
    word-wrap: break-word; /* This allows the text to break onto the next line */
    overflow-wrap: break-word; /* Ensures compatibility with more browsers */
    word-break: break-all; /* Breaks words at any character to prevent overflow */
    white-space: normal;

}

/* -----Footer*/

.report{
    padding-left: .3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #1B2559;
    font-size: 1rem;
    line-height:1.4rem;
    color: #5661F6;
    width: 155px;
    height: 48px;
    border: 1px;
    Padding :10px, 20px, 10px, 20px;
    border: 1px solid #5661F6;
    border-radius: 60px;
    box-shadow: 0px 4px 8px 0px #5661F640;
background-color:  #FFFFFF;

}

.Download{
width: 7.75rem;
height: 3rem;
padding: 10px 9px 10px 10px ;
display: flex;
justify-content: center;

gap: .2rem;
background-color: #5661F6;
box-shadow: 0px 4px 8px 0px #5661F640;

border-radius: 60px;


font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #ffffff;
    font-size: 1rem;
    line-height:1.4rem;
    
}

.Buttons{
text-align: center;
display: flex;
justify-content: center;
}

.Buttons a{
    text-decoration: None;
    /* underline: None; */
    text-align: center;
}

.down_img{
    background-color: #5661F6;
}
.loader{
    display: none;
    border: 8px solid #f3f3f3;
    position: fixed;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 50px;
    height: 50px;
   
    animation: spin 1s linear infinite;
    
    top: 50%;
    left: 50%;
    z-index: 99996;
  }
  
  @keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
  }

  .blur {
    filter: blur(3px);
    pointer-events: none;
z-index: 1;

  /* Disable interactions when blurred */
}

@media (min-width: 401px) and (max-width: 900px) {
    .body-container{
        display: flex;
        flex-direction: column;
        
    }

   .candidate-one{
    
    width: 85%;
display: flex;
gap: 2rem;
   }
   .result-page-left{
   
    width: 23%;
   }
   .pi-right{
    width: 100%;
   }
   .pi-left{
    width: 100%;
   }
}


@media (max-width: 400px ) {
    .search-bar {

width: 100%;
    }
    .candidate-one {
        height: 75rem; /* Or your desired height */
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start; /* Start from the top */
        align-items: center;
        gap: 0.5rem; /* Reduce gap between elements */
      
     /* Enable vertical scrolling if needed */
      }
    .pi-left{
        width: 100%;
        
           gap: 2rem;
         }
         .pi-right{
            display: flex;
            flex-direction: column;
            margin: 0px;
            padding: 0px;
            width: 100%;
    height: 40%;
            gap: 2rem;
           
        }
    #profiles-container{
        display: flex;
        flex-direction: column;
        gap: 5rem;
      
        
    }
    .send{
        height: 30px;
        width: 30px;
        border-radius: 15px;
      }
      .image-send{
        height: 32px;
        width: 32px;
        border-radius: 16px;
      }

    .result-page-left{
    display: none;
    }
    .Result{
     margin-top: 3rem;
     width: 100%;
    }
    .result-page{
    
    }
header{
    display: flex;
    flex-direction: column;
    width: 100%;
 justify-content: center;
    text-align: center;

}
  .profile-pic-section{
display: flex;
justify-content: center;
  width: 100%;
 
  }
  .candidate-name{
    text-align: center;
  
    height: 2rem;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size:  1.375rem;
    line-height: 1.732rem;
    font-style: normal;
    color: #1B2559;
    letter-spacing: 1%;
    
  }


  .name-position-section {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
  }

  .recommended {
    font-size:.75rem;
  
    width: 100%;
    text-align: center;
    margin: 0px;
    padding-left: .3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #1B2559;
    font-size: 1.4rem;
    line-height:1.8rem;
    
/*   
    margin-left: 18rem; */
  }
  
  .position{
    padding-left: .3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1B2559;
    font-size: 1rem;
    line-height:1.4rem;
  }
 
  .result-page-right{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: cd
    ;
  
    width: 100%;
  }
  .body-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  gap: 22rem;
  width: 100%;
  margin: 0px;
  padding: 0px;

  }

  .current{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .key {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: .875rem;
    line-height: 1rem;
    font-style: normal;
    color: #1B2559;
    letter-spacing: 1%;
   
    
  }

  .current-position{
    padding-right: .3rem;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.4rem;
    font-style: normal;
    color: #1B2559;
    letter-spacing: 1%;
  }
  .Current-Company {
    padding-left: .3rem;
    border-left: 1px solid black;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.4rem;
    font-style: normal;
    color: #1B2559;
    letter-spacing: 1%;
}
.current-date{
    
    padding: 0rem .3rem 0rem 0rem;
  
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.4rem;
    font-style: normal;
    color: #1B2559;
    letter-spacing: 1%;
}

.current-location {
    padding: .2rem .3rem 0rem .3rem;
  
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: .875rem;
    line-height: 1rem;
    font-style: normal;
    color: #1B2559;
    letter-spacing: 1%;
}
.value{
    display: flex;
    flex-direction: column;
    gap: .8rem;
}
.position-description{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: .875rem;
    line-height: 1.137rem;
    font-style: normal;
    color: #1B2559;
    letter-spacing: 1%;
}
  .Education{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .preferred-location{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .city-name{
    margin-left: 4px;
    margin-right: 8px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
    font-style: normal;
    color: #1B2559;
    letter-spacing: 1%;
}
  .key-skills{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .lists li{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
    font-style: normal;
    color: #1B2559;
    letter-spacing: 1%;
}
    .input-fields {
      width: 100%;
      margin-bottom: 10px;
    }
  
 
  
 
  

  
    .Buttons .Download {
      font-size: 12px;
      padding: 8px 15px;
    }
  
    .contacts-information .info {
      flex-direction: column;
      gap: 0rem;
      align-items: flex-start;
    
    }
  
    .key-info, .info-value {
      width: 100%;
    }


    .Buttons{
        
    }
    .info{
        display: flex;
        justify-content: center;
        text-align: center;
        gap: 1rem;
   
    }
    .key-info{
      
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .key-image{
        display: none;
    }
    .key-text{
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-size:  .875rem;
        line-height: 1rem;
        font-style: normal;
        color: #79819A;
    
        letter-spacing: 1%;
    }
    .info-value{
        padding-left: .3rem;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        color: #1B2559;
        font-size: 1rem;
        line-height:1.4rem;
        
    }





      
  }








  