



.professionalContainer {
  font-family: Arial, sans-serif;
  background-color: #ffffff; 
  display: flex;
  flex-direction: column;
  width: 25rem;
  justify-content: center;
  align-items: center;
  min-height: auto;
  margin: 0;
  padding: 20px;
}

.professionalContainer .container {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
  padding: 20px;
  text-align: center;
  position: relative;
}

.professionalContainer .professionalTitle {
  color: #5b4df2; 
}

.professionalContainer .professionalQuestion {
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.professionalContainer .professionalOptions {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.professionalContainer .professionalOptions li {
  margin: 10px 0;
}

.professionalContainer .professionalOptions input[type="radio"] {
  display: none;
}
#testForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.professionalContainer .professionalOptions label {
  display: block;
  padding: 10px;
  background: #5b4df2;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
}

.professionalContainer .professionalOptions input[type="radio"]:checked + label {
  background: #3e34a6; 
  transform: scale(1.05);
}

.professionalContainer .professionalOptions label:hover {
  background: #3e34a6; 
}

.professionalContainer .professionalAnsweredQuestions {
  color: #a5d6a7; 
  margin-top: 10px;
}

.professionalContainer .professionalSubmitBtnWrapper {
  

}

.professionalContainer .professionalSubmitBtn {
  background: #27ae60;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
}

.professionalContainer .professionalSubmitBtn:hover {
  background: #219653;
  transform: scale(1.05);
}

.professionalContainer .professionalError {
  color: red;
  margin-top: 10px;
}

.professionalContainer .professionalSubmitBtn:disabled {
  background: #ccc;
  cursor: not-allowed;
  
}
